.novels-page {
  padding: 24px;
  min-height: 100%;
  border-radius: 8px;
  background-color: var(--white);
}

.novels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
